<%- include('header') %>


  <h1>USW34 Artifact Search</h1>
  <!-- back button takes the user to the index page -->
  <button onclick="location.href='/'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Back
    to Search</button></br>
    
    </br></br><h4> Search Results </h4>

  </br><div class="col-md-12">
    <table class='table table-hover table-responsive table-bordered'>
      <thead style="border:1px solid" class="alert alert-info">
        <th style="border:1px solid"><strong>Media</strong></th>
        <th style="border:1px solid"><strong>Title</strong></th>
        <th style="border:1px solid"><strong>Source</strong></th>
        <th style="border:1px solid"><strong>Description</strong></th>
      </thead>

      <% objects_ham.forEach(object => { %>
        <tr>
          <td style="padding:10px; border:1px solid">
              <img src="<%- object.primaryimageurl %>" style="width:400px" />
          </td>
          <td><a href="/ham/<%- object.objectid %>"> <%- object.title %></a></td>
          <td>From the Harvard Art Museum</td>
        </tr>
      <% }); %>

      <% objects_wiki.forEach(object => { %>
        <tr>
          <td style="padding:10px; border:1px solid">
              <img src="<%- object.url %>" style="width:400px" />
          </td>
          <td style="padding:10px; border:1px solid">
              <img src="<%- object.descriptionurl %>" style="width:400px" />
          </td>
          <td><%- object.name %> </td>                    
          <td>From the Wiki</td>
        </tr>
      <% }); %>

      <% objects_na.forEach(object => { %>
        <tr>
          <td style="padding:10px; border:1px solid">
              <img src="<%- object.objects.object.file["@url"] %>" style="width:400px" />
          </td>
          <% if (object.publicContributions) { %>
            <% if (object.publicContributions.transcrition) { %>
              <% if (object.publicContributions.transcription.text) { %>
                <td><%- object.publicContributions.transcription["text"] %> </td>
              <% }; %>
            <% }; %>
          <% }; %>
          <td>From the NA</td>
        </tr>
      <% }); %>


    </table>